@tailwind base;
@tailwind components;
@tailwind utilities;

#app {
  --color-background: 244 231 254;
  --color-paper: 238 208 255;
  --color-text-primary: 0 0 0;
  --color-text-secondary: 38 38 38;

  --color-primary: 205 148 255;
  --color-secondary: 255 133 45;
}

#app.dark {
  --color-background: 25 0 36;
  --color-paper: 50 0 56;
  --color-text-primary: 255 255 255;
  --color-text-secondary: 217 217 217;

  --color-primary: 205 148 255;
  --color-secondary: 255 133 45;
}

#app {
  @apply bg-background text-skin-primary;
}

* {
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

a {
  @apply text-primary;
}

a:hover {
  @apply underline;
}
